@media screen and (max-width: 768px) {
    .container {
        width: 480px;
        min-height: 600px;
    }
    
    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .sign-in-container {
        /* display: none; */
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .container.right-panel-active .sign-in-container {
        /* display: none; */
        transform: translateY(100%);
        
    }

    .sign-up-container {
        /* display: none; */
        left: 0;
        width: 100%;
        opacity: 0;
        z-index: 1;
    }

    .container.right-panel-active .sign-up-container {
        /* display: none; */
        transform: translateY(0%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }

    .overlay-container {
        display: none;
    }

    .container.right-panel-active .overlay-container{
        display: none;
    }

    .overlay {
        display: none;
    }

    .container.right-panel-active .overlay {
        display: none;
    }

    .overlay-panel {
        display: none;
    }

    .overlay-left {
        display: none;
    }

    .container.right-panel-active .overlay-left {
        display: none;
    }

    .overlay-right {
        display: none;
    }

    .container.right-panel-active .overlay-right {
        display: none;
    }
}